@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background: #003d2b;
}
.App {
  font-family: "Indie Flower", cursive;
  display: grid;
  place-content: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 15px;
}
